[user]
	name = weygoldt
	email = 88969563+weygoldt@users.noreply.github.com
[alias]
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
	tracked="ls-tree --full-tree -r --name-only HEAD"
[core]
	editor = nano
