window {
    font-family: monospace;
    font-size: 12pt;
    color: #ffffff; /* text */
    background-color: rgba(0, 0, 0, 0.8);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border: none;
    background-color: rgba(30, 30, 46, 0);
    margin: 30px;
    /* transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out; */
}

button:hover {
    background-color: rgba(49, 50, 68, 0.1);
}

button:focus {

    background-color: #eb6f92;
    color: #1e1e2e;
}

#lock {
    background-image: image(url("./lock.png"));
}
#lock:focus {
    background-image: image(url("./lock-hover.png"));
}

#logout {
    background-image: image(url("./logout.png"));
}
#logout:focus {
    background-image: image(url("./logout-hover.png"));
}

#shutdown {
    background-image: image(url("./power.png"));
}
#shutdown:focus {
    background-image: image(url("./power-hover.png"));
}

#reboot {
    background-image: image(url("./restart.png"));
}
#reboot:focus {
    background-image: image(url("./restart-hover.png"));
}
