* {
	border: none;
	border-radius: 0px;
	font-family: "JetBrainsMono Nerd Font";
	font-size: 11px;
	min-height: 10px;
}

window#waybar {
	background: rgba(0, 0, 0, 0.85);
}

tooltip {
	border-radius: 10px;
	/* background: #000000; */
	color: #cdd6f4;
	border-radius: 7px;
	border-width: 0px;
}

#workspaces button {
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
	color: #585b70;
	/* background: #000000; */
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
	color: #e0def4;
	color: #f6c177;
	/* background: #000000; */
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
	padding: 0px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: #e0def4;
	/* background: #000000; */
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.urgent {
	color: #f38ba8;
}

#battery,
#cpu,
#disk,
#memory,
#backlight,
#clock,
#tray,
#pulseaudio,
#custom-menu,
#custom-power,
#custom-weather,
#custom-updater,
#custom-keybindings,
#custom-cycle_wall,
#custom-spotify,
#workspaces,
#custom-gpu-usage,
#custom-gpu-ram,
#window,
#network {
	color: #e0def4;
	/* background: #000000; */
	opacity: 1;
	margin: 3px 0px 3px 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 0px;
	margin-top: 4px;
	/* margin-bottom: 2px; */
}

#cpu,
#disk,
#memory,
#battery,
#custom-gpu-ram,
#custom-gpu-usage{
	/* color: #9ccfd8; */
	background: rgba(0, 0, 0, 0);
} 


#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
	color: #ffffff;
	/* background: #000000; */
	opacity: 1;
	margin: 2px 0px 2px 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
}

#window {
	margin-right: 10px;
	margin-left: 10px;

}

#battery.critical:not(.charging) {
	/* background-color: #f38ba8; */
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}


#custom-spotify {
    border-radius: 21px 21px 21px 21px;
}


#custom-r_end {
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-l_end {
    border-radius: 21px 0px 0px 21px;
    margin-left: 9px;
    padding-left: 3px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 9px;
    padding-left: 3px;
}

#custom-rr_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-rl_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 9px;
    padding-left: 3px;
}
/**/
/**/
/* #cpu { */
/* 	border-radius: 21px 21px 21px 21px; */
/* 	border-right: 0px;  */
/* 	margin-right: 10px; */
/* 	padding-right: 10px; */
/* 	padding-left: 10px; */
/* } */
/* #custom-gpu-usage { */
/* 	border-radius: 0px 21px 21px 0px; */
/* 	border-right: 0px;  */
/* 	margin-right: 10px; */
/* 	padding-right: 10px; */
/* 	padding-left: 10px; */
/* } */
/**/
/* #custom-gpu-ram { */
/* 	border-radius: 15px 15px 15px 15px; */
/* 	border-right: 0px;  */
/*   margin-right: 10px; */
/*   padding-right: 10px; */
/*   padding-left: 10px; */
/* } */
/* #memory { */
/* 	border-radius: 15px 15px 15px 15px; */
/* 	border-right: 0px; */
/*   margin-left: 0px; */
/*   margin-right: 10px; */
/*   padding-left: 10px; */
/*   padding-right: 10px; */
/* } */
/**/
/* #disk { */
/* 	border-radius: 15px 15px 15px 15px; */
/* 	margin-right: 10px; */
/* 	border-right: 0px; */
/*   padding-left: 10px; */
/*   padding-right: 10px; */
/* } */
/**/
/* #battery { */
/* 	border-radius: 15px 15px 15px 15px; */
/* 	margin-left: 0px; */
/* 	margin-right: 10px; */
/*   padding-left: 10px; */
/*   padding-right: 10px; */
/* } */
/**/
/* #custom-uptime { */
/* 	border-radius: 15px 15px 15px 15px; */
/* 	margin-left: 0px; */
/* 	margin-right: 10px; */
/*   padding-left: 15px; */
/*   padding-right: 15px; */
/* } */
/**/
/* #custom-spotify { */
/*    border-radius: 15px 15px 15px 15px; */
/*    margin-right: 10px; */
/*    margin-left: 0; */
/* } */
/**/
/* #custom-weather { */
/* 	border-radius: 15px 15px 15px 15px; */
/*   margin-right: 10px; */
/* } */
/**/
/* #pulseaudio { */
/* 	border-radius: 20px 20px 20px 20px; */
/*   margin-right: 10px; */
/*   padding-left: 10px; */
/*   padding-right: 10px; */
/* } */
/**/
/* #backlight { */
/* 	border-radius: 15px 15px 15px 15px; */
/*   margin-right: 10px; */
/*   padding-left: 10px; */
/*   padding-right: 10px; */
/* } */
/**/
/* #network { */
/*   border-radius: 15px 15px 15px 15px; */
/*   margin-right: 10px; */
/*   padding-left: 10px; */
/*   padding-right: 10px; */
/* } */
/**/
/* #network.disconnected,#network.disabled { */
/* } */
/**/
/* #clock { */
/*    margin-right: 10px; */
/* } */
/**/
/* #tray { */
/* 	border-radius: 15px 15px 15px 15px; */
/* 	margin-right: 10px; */
/* } */
/**/
/* #tray > .passive { */
/*     -gtk-icon-effect: dim; */
/* } */
/**/
/* #tray > .needs-attention { */
/*     -gtk-icon-effect: highlight; */
/* } */
/**/
/* #custom-power { */
/*    border-radius: 15px 15px 15px 15px; */
/*    margin-right: 5px; */
/*    margin-left: 0; */
/*    font-size: 14px; */
/* } */
/**/
